.site-list {
  font-weight: bold;
  list-style: none;
  margin: 0;
  padding: 0;
}

.site-list__link {
  position: relative;
  display: block;
  padding: 12px 21px;
  line-height: 24px;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  background-color: @basic-brown;
  box-shadow: 0px 1px 0px #71543F, inset 0px 1px 0px #886E5B;

  &:hover {
    background-color: @medium-brown;
  }

  &:active {
    background-color: @dark-brown;
    color: rgba(255, 255, 255, 0.3);
  }
}


@media (min-width: @tablet-width) {
  .site-list {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
  }

  .site-list__item {
    margin-right: 34px;

    &:last-child {
      margin-right: 0px;
    }

    &--current {
      position: relative;

      &::after {
        position: absolute;
        content: "";
        left: 0px;
        bottom: 0px;
        right: 0px;
        height: 3px;
        background-color: @basic-brown;
      }
    }
  }

  .site-list__link {
    background-color: transparent;
    box-shadow: none;
    padding: 24px 0px;

    &:hover {
      background-color: transparent;
      color: @basic-brown;
    }

    &:active {
      color: @dark-gray;
    }
  }
}

@media (min-width: @desktop-width) {

  .site-list__item {
    margin: 0px;

    &--current::after {
      left: 30px;
      right: 30px;
    }
  }

  .site-list__link {
    padding: 30px;

    &:hover {
      background-color: @basic-white;
      color: @basic-black;
    }

    &:active {
      color: fade( @basic-black, 30%);
    }
  }
}
